OPEN_ROUTER_API_KEY=your_open_router_api_key_here
OPENAI_API_KEY=your_openai_api_key_here

CALENDAR_CREDS_PATH=./secrets/calendar_credentials.json
CALENDAR_TOKEN_PATH=./secrets/calendar_token.json

GMAIL_CREDS_PATH=./secrets/gmail_credentials.json
GMAIL_TOKEN_PATH=./secrets/gmail_token.json


# db config
POSTGRES_USER=agentic_user
POSTGRES_PASSWORD=password123
POSTGRES_DB=agentic_hr
POSTGRES_HOST=localhost.    # Default to localhost for local runs
POSTGRES_PORT=5432
