
# Ignore secret JSONs, not the folder
secrets/**/credentials.json
secrets/**/token.json

secrets/**/calendar_credentials.json
secrets/**/calendar_token.json

# (Optional) ignore any backup or tmp credentials
secrets/**/*_backup.json

# any log files
*.log

.env

