sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
langchain
langchain-openai
google-auth
langgraph
langgraph-supervisor
langchain-mcp-adapters
duckduckgo-search
langchain-tavily
langchain-community
langgraph-cli

mcp
pypdfium2
pillow
ftfy
sqlalchemy
psycopg2-binary

python-dotenv
openai