google-auth
langgraph
langchain
langchain-openai
langchain-mcp-adapters
duckduckgo-search
langchain-tavily
langchain-community
langgraph-cli
langgraph-api

mcp
pypdfium2
pillow
ftfy
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
openai
pypdfium2
Pillow
ftfy
